/* Add CSS Styling */
.odd-numbered {
  background-color: hsl(0, 96%, 82%);
  font-family: system-ui, Verdana, "DejaVu Sans", sans-serif;
}
#even-numbered-second {
  color: rgb(39, 39, 250);
  font-size: 36px;
}
.change-font-size {
  font-size: 24px;
}
#even-numbered-fourth {
  background-color: hsl(120, 100%, 75%);
  font-weight: bold;
}
